@model _04.fiap.web.mvc.Models.Medico

@{
    /**/

    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>
@if (@TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}


@using (Html.BeginForm())
{
    <div class="form-group">

        @Html.LabelFor(churros => churros.Crm)
        @Html.TextBoxFor(m => m.Crm, new { @class = "form-control", @type = "number", @required = "true" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @required = "true" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Salario)
        @Html.TextBoxFor(m => m.Salario, new { @class = "form-control", @type = "number" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Descricao)
        @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", @rows = "5", @col = "10" })
    </div>

    <div class="form-group">
        @Html.CheckBoxFor(m => m.Ativo)
        @Html.LabelFor(m => m.Ativo)
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-primary" />


}

