@model Fiap._06.web.mvc.Models.Animal

@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastrar Animal</h2>
@if (TempData["msg"] != null)
{
<div class="alert alert-success">
    @TempData["msg"]
</div>
    
}

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(a => a.Nome)
        @Html.TextBoxFor(a => a.Nome, new { @class = "form-control", @placeholder = "Digite o nome do animal..." })
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Raca)
        @Html.TextBoxFor(a => a.Raca, new { @class = "form-control", @placeholder = "Digite a raça..." })
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Peso)
        @Html.TextBoxFor(a => a.Peso, new { @class = "form-control", @type = "number", @placeholder = "Digite o peso..." })

    </div>

    <div class="form-group">
        @Html.CheckBoxFor(a => a.Castrado)
        @Html.LabelFor(a => a.Castrado)
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Cadastrar" />
    </div>

}