@model List<Fiap._06.web.mvc.Models.Animal>
@{
    ViewBag.Title = "Listar Animais";
}

<h2>Listar</h2>

@if (TempData["msg"] != null)
{
    <div class="alert-success">
        @TempData["msg"]
    </div>
}

<table class="table">

    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Raça</th>
            <th>Castrado</th>
            <th>Peso</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
        <tr>
            <td>@a.AnimalId</td>
            <td>@a.Nome</td>
            <td>@a.Raca</td>
            <td>@(a.Castrado ? "Sim" : "Não")</td>
            <td>@a.Peso</td>
            <td>
                @Html.ActionLink("Editar","Alterar", new { id= a.AnimalId})
            </td>
        </tr>
        }
    </tbody>

</table>